body{
   margin:0;
   padding:0;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}

#map{
   float: left;
   height: 100%;
   width: 100%;
}

#random_container{
   position: absolute;
   right: 10px;
   top: 10px;
   z-index: 1;
}
#random_container button{
   min-width: 250px;
   height: 100px;
}

.red{
   background-color: red;
}
